<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <a style="color: #fafafa; margin-left: 10%" href="/">ODetect</a>
    </div>
    <ul class="navbar-links">
        <li><a href="/">Main</a></li>
        <li><a href="/detect">Detect</a></li>
    </ul>
</nav>
<div class="container">
    <h2>Наш проект: ODetect</h2>
    <p>Данный проект представляет инновационную систему, использующую принципы компьютерного зрения для обнаружения объектов на видео. Целью проекта является интеграция этой системы в существующие системы видеонаблюдения, что значительно расширит и улучшит их функционал.</p>
    <p>Программный стек данного проекта охватывает как серверную, так и клиентскую части. Бэкенд сайта реализован с использованием Node.js, обеспечивая надежную и эффективную основу для обработки запросов и управления всей системой. Фронтенд разработан с использованием HTML, JS и CSS, что обеспечивает интуитивно понятный и привлекательный пользовательский интерфейс.</p>

    <h2>Наша команда</h2>
    <div class="team-cards">
        <div class="team-card">
            <img src="/member.webp" alt="Member 1">
            <h3>Имя и должность</h3>
            <p>Краткое описание члена команды и его роли в проекте.</p>
        </div>

        <div class="team-card">
            <img src="/member.webp" alt="Member 2">
            <h3>Имя и должность</h3>
            <p>Краткое описание члена команды и его роли в проекте.</p>
        </div>

        <div class="team-card">
            <img src="/member.webp" alt="Member 3">
            <h3>Имя и должность</h3>
            <p>Краткое описание члена команды и его роли в проекте.</p>
        </div>
    </div>
</div>

</body>
</html>
